@charset "UTF-8";

.custom-bg{
    background: #c6ff00!important ;
}

.custom-text{
	color: black;
}
.card {
    background-color: #f4ff81 !important;
}
input, textarea {
    background-color: #f5f5f5;
}

label {
    color: #311b92;
}

 /*pop up sms */
 
 .modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* admin page */

.admin .card {
	border : 1px solid black;
}

.admin .card:hover {
	background: #c6ff00 !important;
	cursor:pointer;
}



/* show product design */


.list-group-item-action {
	background-color: #f4ff81;
}

.list-group-item.active {
	background-color: #c6ff00;
	color: black;
}


.col-md-2 {
  margin-left: 20px;
}

.discount {
	font-size : 10px !important;
	font-style : italic !important;
	/* text-decoration : line-through !important; */
}






